html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

#fs-top-half-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 8em;
}

#fs-top-half-image {
  border: 0em;
  border-radius: 50%;
  max-width: 25em;
  max-height: 25em;
  margin-top: 3em;
}

#about-me-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 4em 0 0 0;
}

#second-scene-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5bc0de;
  margin-top: 4em;
  padding: 4em 0 4em 0;
}

#ss-top-h1 {
  padding-bottom: 1.4em;
}

.what-i-do {
  border: 0.2em;
  border-style: dashed;
  border-color: #5bc0de;
  border-radius: 1.5em;
  width: 30em;
}

.who-i-am {
  border: 0.2em;
  border-style: dashed;
  border-color: #5bc0de;
  border-radius: 1.5em;
  width: 30em;
}

.what-i-know {
  border: 0.2em;
  border-style: dashed;
  border-color: #5bc0de;
  border-radius: 1.5em;
  width: 30em;
}
.about-me-heading {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  color: #5bc0de;
  text-shadow: 1px 1px #000000;
  padding-top: 1em;
}

.no-bullets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1em 0 2em;
  font-size: 1.2em;
  line-height: 1.8em;
  list-style-type: circle;
}
